body {
	padding-top: 50px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

/* navbar */
.navbar {
	margin-bottom: 0;
}

/* main section */
main {
	height: 80vh;
	background-color: #A7DBD8;
}

h1 {
	margin: 0 auto;
	padding-top: 4em;
	text-align: center;
	font-size: 3.5em;
}

/* other sections */
.about-section,
.menu-section,
.reservation-section {
	background-color: gray;
	padding: 3em 4em;
}

.about-title,
.menu-title,
.reservation-title {
	text-align: center;
	margin-bottom: 2.5em;
}

.menu-show, 
.reservation-show {
	background-color: white;
	padding: 3em;
}

/* reservation form */
.btn {
	display: block;
	margin: 0 auto;
}

/* photos */
.photo-section {
	background-color: blue;
}

/* footer */
footer {
	background-color: white;
	padding: 3em 6em;
}

.footer-address {
	padding: 0;
	font-size: 0.75em;
}

.footer-address p:first-of-type {
	font-weight: bold;
}

.footer-go-top {
	padding: 0;
	text-align: center;
}

.footer-social {
	padding: 0;
	font-size: 0.75em;
}

.footer-social span {
	padding: 1em;
	margin: 0.5em;
	background-color: red;
	border-radius: 40%;
}