body {
	padding-top: 50px;
}

.row {
	margin-left: 0em;
	margin-right: 0em;
}

/* navbar */
.navbar {
	margin-bottom: 0em;
}

/* main section */
main {
	height: 80vh;
	background-color: #A7DBD8;
}

h1 {
	margin: 0em auto;
}

/* about */
.aboutDiv {
	background-color: green;
}

/* menu */
.menuDiv,
.reservationDiv {
	background-color: yellow;
	padding: 3em 6em;
}

.menuShow {
	background-color: gray;
}