body {
	padding-top: 50px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

/* navbar */
.navbar {
	margin-bottom: 0;
}

/* main section */
main {
	height: 80vh;
	background-color: #A7DBD8;
}

h1 {
	margin-top: 0;
	padding-top: 4em;
	font-size: 3.5em;
}

/* sections */
.about-section {
	background-color: gray;
	padding: 3em 4em;
}

.menu-section {
	background-color: gray;
}

.reservation-section {
	background-color: gray;
}

.menu-show {
	display: inline-block;
	margin: 4em 8em;
	padding: 6em;
	background-color: white;
}

.reservation-show {
	display: inline-block;
	margin: 4em 20em;
	padding: 6em;
	background-color: white;
}

.hours-section {
	background-color: yellow;	
}

.hours-show {
	padding: 0;
}

.hours-content {
	padding: 3em 4em;
}

.hours-img {
	background-color: black;
	height: 150px;
}

/* navpills */
.center-pills {
	display: inline-block;
}

/* reservation form */
.hour-form {
	padding-left: 0;
}

.num-people-form {
	padding-right: 0;
}

.submit-button {
	width: 100%;
}

/* photos */
.photo-section {
	background-color: blue;
}

/* footer */
footer {
	background-color: white;
	padding: 3em 6em;
}

.footer-address {
	padding: 0;
	font-size: 0.75em;
}

.footer-address p:first-of-type {
	font-weight: bold;
}

.footer-go-top {
	padding: 0;
}

.footer-social {
	padding: 0;
	font-size: 0.75em;
}

.footer-social span {
	padding: 1em;
	margin: 0.5em;
	background-color: red;
	border-radius: 40%;
}